@model TaskMng.Models.DetailsTaskView

<div>
    <div class="form-row">
        <div class="col">
            <label for="status">Name</label>
            <h4>@Model.MainTask.Name</h4>
        </div>
        <div class="col">
            <label for="status">Status</label>
            <span id="status" class="form-control">@Model.MainTask.Status.Name</span>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <label for="status">Author</label>
            <span class="form-control">@Model.MainTask.Author.Name</span>
        </div>
        <div class="col">
            <label for="status">Assignee</label>
            <span class="form-control">@Model.MainTask.Assignee.Name</span>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <label for="status">Date start</label>
            <span class="form-control">@Model.MainTask.DateStart.Value</span>
        </div>
        <div class="col">
            <label for="status">ETA</label>
            <span class="form-control">@Model.MainTask.ETA.Value</span>
        </div>
        <div class="col">
            <label for="status">Due Date</label>
            <span class="form-control">@Model.MainTask.DueDate.Value</span>
        </div>
    </div>

</div>