@model IEnumerable<TaskMng.Models.TaskView>

<p>
    <br />
    <a href="#" class="oi oi-plus" title="Create new task" data-toggle="modal" data-target="#addTaskModal" aria-hidden="true">
        Create new task
    </a>
</p>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="task@(item.Id)" data-task-id="@(item.Id)">
            <td>
                <a id="iconshow-subtask" href="#" class="oi oi-collapse-right" title="Show subtasks" onclick="showSubtasks(@item.Id)" aria-hidden="true"></a>
                <a id="iconhide-subtask" href="#" class="oi oi-collapse-down collapse" title="Hide subtasks" onclick="hideSubtasks(@item.Id)" aria-hidden="true"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <select onchange="setNewStatus(@item.Id)" data-status="@(item.Status.Name)"></select>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@item.Progress%">
                        @item.Progress%
                    </div>
                </div>
            </td>
            <td>
                <a href="#" title="Details" class="oi oi-info" onclick="details(@item.Id)" data-toggle="modal" data-target="#myModalDetailsTask" aria-hidden="true"></a>
                <a href="#" title="Edit" class="oi oi-pencil" onclick="editTask(@item.Id)" data-toggle="modal" data-target="#myModalEditTask" aria-hidden="true"></a>
                <a href="#" title="Delete" class="oi oi-trash" onclick="deleteTask(@item.Id)" aria-hidden="true"></a>
            </td>
        </tr>
        //add component that will change with partial view???
    }

</table>

<div id="addTaskModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTaskModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="addTaskModalTitle" class="modal-title">Add Task</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-control" id="create-task">
                    <div class="form-group">
                        <label for="task-name">Name:</label>
                        <input id="task-name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="task-comment">Comment:</label>
                        <textarea id="task-comment" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="add-task" class="btn btn-primary" data-dismiss="modal" onclick="addTask()" disabled>Save task</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalDetailsTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskDetailsModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="taskDetailsModalTitle" class="modal-title">Task Details</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="detailOfTask"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalEditTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editTaskModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="editTaskModalTitle" class="modal-title">Edit Task</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="EditTaskId"></span>
                <div class="form" id="edit-form">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="save-task" class="btn btn-primary" data-dismiss="modal" onclick="saveEditTask()" disabled>Save task</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showStatuses(id) {
        $.ajax({
            url: "@Url.Action("GetStatuses", "Home")",
            method: "GET"
        })
        .done(function (data) {
            var status = $("#status" + id);
            status.html(data);
            status.val(status.data("status"));
        });
    }

    function setNewStatus(taskId) {
        var statusName = $("#task" + taskId + " select").val();
        $.ajax({
            url: "@Url.Action("SetNewStatus", "Home")",
            method: "POST",
            data: { id: taskId, status: statusName }
        })
        .done(function () {
            $("#myTasksBtn").click();
        });
    }

    function saveParentTaskId(parentId) {
        $("#add-task").data("parentTaskId", parentId);
    }

    function editTask(taskId) {
        $.ajax({
            url: "@Url.Action("EditTask", "Home")",
            method: "POST",
            data: { id: taskId }
        })
        .done(function (data) {
            $("#edit-form").html(data);
            $("#save-task").data("editTaskId", taskId);
        })
        .fail(function () {
            $("#edit-form").html("<p>Cannot find task</p>");
        });
    }

    function saveEditTask() {
        var task = {
            Id: $("#save-task").data('editTaskId'),
            Name: $("#nameEditTask").val(),
            Assignee: $("select#assignee").val(),
            ETA: $("#timepicker2").val(),
            DueDate: $("#timepicker3").val(),
            Comment: $("#comment").val(),
        };

        $.ajax({
            url: "@Url.Action("SaveEditTask", "Home")",
            method: "POST",
            data: { taskForEdit: task },
        })
        .done(function (Msg) {
            $("#myTasksBtn").click();
        })
        .fail(function () {
            alert("Cannot find task");
        });
    }

    @*function saveEditSubtask() {
        var subtask = {
            Id: $("#save-subtask").data('editsubtaskId'),
            Name: $("#nameEditSubtask").val(),
            //ETA: $("#timepicker2").val(),
            //DueDate: $("#timepicker3").val(),
            Comment: $("#commentsubtask").val(),
        };

        $.ajax({
            url: "@Url.Action("SaveEditTask", "Home")",
            method: "POST",
            data: { taskForEdit: subtask },
        })
        .done(function (Msg) {
            alert(Msg);
            $("#myTasksBtn").click();
        })
        .fail(function () {
            $("#edit-form").html("<p>Cannot find task</p>");
        });
    }*@

    function details(mainId) {
        $.ajax({
            url: "@Url.Action("Details", "Home")",
            method: "GET",
            data: { id: mainId },
        })
        .done(function (data) {
            $("#detailOfTask").html(data);
        })
        .fail(function () {
            alert("Cannot find the task");
        });
    }

    function addTask() {
        console.log($("#add-task").data("parentTaskId"));
        $.ajax({
            url: "@Url.Action("CreateTask", "Home")",
            method: "POST",
            data: {
                parentId: $("#add-task").data("parentTaskId"),
                templateId: null,
                name: $("#task-name").val(),
                comment: $("#task-comment").val()
            }
        })
        .done(function (message) {
            alert(message);
            $("#myTasksBtn").click();
        })
        .fail(function () {
            alert("Cannot add the task!");
        });
    }

    function deleteTask(taskId) {
        $.ajax({
            url: "@Url.Action("DeleteTask", "Home")",
            method: "POST",
            data: { id: taskId }
        })
        .done(function () {
            alert("Task has been deleted.");
            $("#task" + taskId).remove();
        })
        .fail(function () {
            alert("Cannot delete the task!");
        });
    }

    function showSubtasks(taskId) {
        $.ajax({
            url: "@Url.Action("ShowSubtask", "Home")",
            method: "GET",
            data: { parentId: taskId }
        })
        .done(function (data) {
            var taskRow = $("#task" + taskId);
            taskRow.after(data);

            $("#iconshow-subtask", taskRow).hide();
            $("#iconhide-subtask", taskRow).show();

            getStatuses(function (statuses) {
                setStatuses(statuses, taskRow.next().find("select"));
            });
        })
    }

    function hideSubtasks(taskId) {
        var taskRow = $('#task' + taskId);
        taskRow.next().remove();
        $("#iconhide-subtask", taskRow).hide();
        $("#iconshow-subtask", taskRow).show();
    }

    function setStatuses(statuses, selects) {
        selects.html(statuses);
        $.each(selects, function () {
            var $this = $(this);
            $this.val($this.data("status"));
        });
    }

    function showAssignees(managerId) {
        $.ajax({
            url: "@Url.Action("GetAssignees", "Home")",
            method: "GET",
            data: { managerId: managerId }
        })
        .done(function (data) {
            var assignee = $("#assignee");
            assignee.html(data);
            assignee.val(assignee.data("assignee"));
        });
    }

    function updateAssignee() {
        var assignee = $("#assignee");
        assignee.data("assignee", assignee.val());
    }

    $(document).ready(function () {
        getStatuses(function handler(statuses) {
            setStatuses(statuses, $(".table select"));
        });

        $("#edit-form").change(function () {
            $("#save-task").prop("disabled", false);
        });

        $("#myModalEditMainTask").on("hidden.bs.modal", function (e) {
            $("#save-task").prop("disabled", true);
        });

        $("#task-name").change(function () {
            $("#add-task").prop("disabled", !this.value);
        })
    });
</script>
