@model IEnumerable<TaskMng.Models.TaskView>

<tr>
    <td colspan="5">
        @if (Model.Any())
        {
            <table class="table"style="width:100%">
            @foreach (var item in Model)
            {
                <tr id="task@(item.Id)" >
                    <td style="width:500px">
                        <ul style="margin: 0;">
                            <li>@Html.DisplayFor(modelItem => item.Name)</li>
                        </ul>
                    </td>
                    <td  style="width:150px">
                    
                    </td>
                    <td>
                        <select id="status@(item.Id)" aria-describedby="basic-addon3" data-status="@(item.Status.Name)" onchange="setNewStatus(@item.Id)">
                            <option selected>@(item.Status.Name)</option>
                        </select>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@item.Progress%">
                                @item.Progress%
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="#" title="Edit" class="oi oi-pencil" onclick="editTask(@item.Id)" data-toggle="modal" data-target="#myModalEditTask" aria-hidden="true"></a>
                        <a href="#" title="Delete" class="oi oi-trash" onclick="deleteTask(@item.Id)" aria-hidden="true"></a>
                    </td>
                </tr>
            }
            </table>
        }
        <div>
            <a href="#" title="Add subtask" class="oi oi-plus" data-toggle="modal" data-target="#addTaskModal" onclick="saveParentTaskId(@ViewBag.ParentId)" aria-hidden="true">
                Add subtask
            </a>
        </div>
    </td>
</tr>
