@model IEnumerable<TaskMng.Models.TaskView>


<tr>
    <td colspan="5">
        <table class="table">
            @foreach (var item in Model)
            {
                <tr id="task@(item.Id)">
                    <td>
                        <i class="fas fa-circle"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <select id="status@(item.Id)" aria-describedby="basic-addon3" data-status="@(item.Status.Name)" onclick="showStatuses(@item.Id)" onchange="setNewStatus(@item.Id)")>
                            <option selected>@(item.Status.Name)</option>
                        </select>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@item.Progress%">
                                @item.Progress%
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="#" title="Delete" onclick="deleteTask(@item.Id)">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
        <div>
            Add sub-task
        </div>
    </td>
</tr>

<script>

 function showStatuses(id) {
            $.ajax({
                url: "@Url.Action("GetStatuses", "Home")",
                method: "GET",
            })
            .done(function (data) {
                var status = $("#status"+id);
                status.html(data);
                status.val(status.data("status"));
            });
    }
    function setNewStatus(taskId) {
        var statusName = $('#task' + taskId + ' select').val();
        $.ajax({
            url: "@Url.Action("SetNewStatus", "Home")",
            method: "POST",
            data: { id: taskId, status: statusName }
        })
            .then
            (function () {
                var status = $("#status" + taskId);
                status.data("status", status.val());
            })
    }
</script>